.title {
    margin-top: 110px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    height: 50px;
    font-size: 50px;
    color: white;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 160px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    height: 50px;
    font-size: 15px;
    color: white;
}

.column75 {
    -ms-flex: 75%;
    flex: 75%;
    max-width: 75%;
    padding: 0 4px;
}

.column50 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column25 {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column67 {
    -ms-flex: 67%;
    flex: 67%;
    max-width: 67%;
    padding: 0 4px;
    margin-top: 8px;
}

.column33 {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column25 {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

@media screen and (max-width: 800px) {
    .column67, .column33, .column75, .column25 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
}

.column33 img, .column25 img {
    margin-top: 8px;
    vertical-align: middle;
}

.sectionhead {
    font-style: bold;
    font-size: 35px;
    color: black;
    padding: 4 8px;
}

.sectiontext {
    font-size: 25px;
    color: black;
    padding: 4px 8px;
}

/* Image Columns */

* {
    box-sizing: border-box;
}

body {
    background-image: url("Backgrounds/paraBack.jpg");
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 2015px 434px;
    background-color: rgb(90,119,168);
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 2015px) {
    body {
        background-size: 100% 434px;
    }
}

.flexcontainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 2px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: white;
    border-radius: 2px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* Header */

a {
	color: white;
}

li a {
	display: block;
    padding: 8px;
	text-decoration: none;
	background-color: transparent;
    border-bottom: 1px solid transparent;
    font-size: 16px;
}

li a.active {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: transparent;
    border-radius: 2px;
}

li {
    float: left;
}

li a:hover { /*:not(.active)*/
    background-color: transparent;
    border-bottom: 1px solid white;
	color: white;
}

@media screen and (max-width: 760px) {
    li a {
        font-size: 20px
    }
    .title {
        margin-top: 108px;
    }
    .subtitle {
        margin-bottom: 157px;
    }
}

/* Stat Boxes */

.statbox {
    background-color: blue;
    border-radius: 2px;
    margin-top: 8px;
    vertical-align: middle;
    text-align: center;
    padding: 4px;
}

.stat {
    font-size: 120px;
    font-style: bold;
    color: white;
}

.statdescr {
    font-size: 20px;
    color: white;
}

/* Accordion Folder */
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

.activeAcc, .accordion:hover {
    background-color: rgb(153, 214, 255);
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.activeAcc:after {
    content: "\2212";
}

.panel {
    /*padding: 0 18px;*/
    margin: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-left: 3px solid rgb(153, 214, 255);
}

.dreamHead {
    font-size:45px;
    padding: 2 4px;
    margin: 0 20px;
    border-bottom: 3px solid rgb(90,119,168);
}

.dreamBody {
    width:100%;
    text-align: left;
    padding: 4px 20px;
    font-size:20px;
    margin-left: 35px;
    border-left: 3px solid rgb(90,119,168);
}
